html {
  height: 100%;
  width: 100%;
  background-image: url('markosbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 20px;
}
h1 {
  text-align: center;
  font-family: courier new, courier, monospace;
  color: #330000;
  background-color: #cc9966;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
}
ul {
  font-family: trebuchet ms, helvetica, sans-serif;
  color: #330000;
  background-color: rgb(204, 153, 102);
  text-align: center;
  list-style: none;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
}